# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.env.*

# Coverage
coverage/
coverage.json

# Node modules if you have any
node_modules/ 